<navigation></navigation>

<div class="container">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10">
      <div id="history">
        <h1 class="heading">History</h1>
        <div id="records">
          <div class="row" ng-repeat="items in vm.historyMatrix">
            <div class="col-lg-6" ng-repeat="item in items">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{ item.createdOn | date: 'dd/mm/yyyy h:mm:ss a' }}</h5>
                  <p class="card-text">
                    <table class="table table-bordered table-striped">
                      <tbody>
                        <tr>
                          <td style="width: 50%">Net</td>
                          <td style="width: 50%">{{ item.net | formatFloat: 2 }}</td>
                        </tr>
                        <tr>
                          <td style="width: 50%">Sup</td>
                          <td style="width: 50%">{{ item.sup | formatFloat: 2 }}</td>
                        </tr>
                        <tr>
                          <td style="width: 50%">Net + Sup</td>
                          <td style="width: 50%">{{ item.netPlusSup | formatFloat: 2 }}</td>
                        </tr>
                        <tr>
                          <td style="width: 50%">Gross</td>
                          <td style="width: 50%">{{ item.gross | formatFloat: 2 }}</td>
                        </tr>
                        <tr>
                          <td style="width: 50%">Gross + Sup</td>
                          <td style="width: 50%">{{ item.grossPlusSup | formatFloat: 2 }}</td>
                        </tr>
                        <tr>
                          <td style="width: 50%">Tax</td>
                          <td style="width: 50%">{{ item.tax | formatFloat: 2 }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </p>
                  <a href="#" class="btn btn-danger" ng-click="vm.deleteRecord(item._id)">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
</div>

<footer-generic></footer-generic>
